.myBusiness {
    margin-top: 30px;
    position: relative;
    .business__content {
        width: 60%;
        margin: auto;
        .business_text {
            padding-top: 100px;
            h4 {
                @include text($color-white-0, 30px, $fw-bold);
            }
            p {
                @include text($color-white-0, 18px, $fw-normal);
                width: 80%;
            }
            button {
                @include text($color-white-0, $fs-0, $fw-bold);
                padding: 10px 20px;
                background-color: #094c59;
                border-radius: 5px;
                border: none;
                &:hover {
                    background-color: #0f7c90;
                }
            }
        }
    }
    .business_layout {
        position: absolute;
        background-color: #003640;
        height: 300px;
        width: 100%;
        bottom: 35px;
        left: 0;
        z-index: -1;
    }
    @include respond-to("huge") {
        .business__content {
            width: 80%;
            .business_text {
                padding-left: 50px;
            }
        }
    }

    @include respond-to("large") {
        .business__content {
            .business_layout {
                display: none;
            }
        }
    }
    @include respond-to("small") {
        .business__content {
            .business_item {
                img {
                    width: 80%;
                }
            }
        }
    }
}
@include respond-to("large") {
    .myBusiness {
        border-top: 1px solid rgba($color: gray, $alpha: 0.3);
        .business__content {
            .business_text {
                padding-top: 50px;
                h4,
                p {
                    color: black;
                }
                padding-bottom: 50px;
            }
        }
    }
}
